{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
        <ul class="topnav">
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">New Project</a></li>
                <li><a href="#contact">Profile</a></li>
                <li class="right"><a href="#about">Dashboard</a></li>
              </ul>
              <div style="padding:0 16px;">
              </div>
    {% block content %}

    {% endblock content %}

    <script 
 src="https://code.jquery.com/jquery-2.2.2.min.js"
 integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" 
 crossorigin="anonymous"
></script>

<script 
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous"
></script>
 
</body>

</html>