{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 600px;
        margin: auto;
        margin-top: 150px;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;
    }
</style>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="card">
            <h3>User Profile Information</h3>
            <h1>{{ user.username }}</h1>
            <p>{{ user.email }}</p>

            <div class="card card-outline-secondary">
            <div class="card-body">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="User Pic" style="width:30%;">
                
                {%for fields in u_form %}
                        <br>
                        {{fields.label}}
                        <br>
                        {{fields}}
                        <br>
                    {%endfor%}
                    {%for fields in p_form %}
                    <br>
                    {{fields.label}}
                    <br>
                    {{fields}}
                    <br>
                    {%endfor%}

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock content %}